<%- include('../partials/header', { websiteName: 'E-Voting' }) %>

<p>Welcome to E-Voting! We’re excited to have you as the admin for your college on our platform.</p>

<p>You've successfully added your college, <%= name %>, but it seems you haven't created your admin account yet. By clicking the link below, you’ll become the official admin of your college, giving you the ability to oversee elections and manage election activities. If you did not create an admin account or received this email by mistake, please disregard it, and no further action will be necessary.</p>

<a href="<%= url %>" target="_blank" style="display: inline-block; background-color: #007BFF; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Create Your Admin Account</a>

<p>Once you've completed the setup, you’ll have full access to your admin privileges, which include:</p>
<ul>
  <li>Creating and managing election events</li>
  <li>Monitoring voting progress and results</li>
  <li>Managing user registrations and roles</li>
  <li>Accessing detailed analytics and reports</li>
</ul>

<p>If you encounter any issues or need assistance, please don’t hesitate to <a href="mailto:support@evoting.com">contact our support team</a>.</p>

<%- include('../partials/footer', { 
  websiteDomain: 'localhost:com', 
  currentYear: new Date().getFullYear(), 
  websiteName: 'E-Voting',
  supportEmail: 'support@evoting.com',
}) %>
